@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
} <!--Title will change for each page-->


<div class="text-center">
    <h1 class="display-4">Welcome to the @ViewData["Title"]</h1>
    
    <img src="~/img/JoelHiltonHeadshot.jpg" />
    <p> <!--You know this is true-->
        My Name is Joel Hilton, and I am the slightly less cool younger brother of Professor Spencer Hilton.
    </p>
</div>
