@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}


<div class="text-center">
    <h1 class="display-4">Welcome to the @ViewData["Title"]</h1>
    
    <img src="~/img/JoelHiltonHeadshot.jpg" />
    <p>
        My Name is Joel Hilton, and I am the slightly less cool younger brother of Professor Spencer Hilton.
    </p>
</div>
