@{
    ViewData["Title"] = "The Baconsale Podcast";
}

<img src="~/img/bacon.jfif" /> <!--Link with a picture of bacon-->
<p>
    Now that I have caught your attention with that tasty bacon picture,
    check out an amazing podcast about different movies that I have watched and reviewed that has over 300 episodes!
</p>
<a href="https://baconsale.com/">The Baconsale Podcast Site</a>
